<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/lib/css/login.css">
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
<!--<form action="" method="post">
    &lt;!&ndash;<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />&ndash;&gt;

    <input type="text" name="username" placeholder="이메일 입력해주세요">
    <input type="password" name="password" placeholder="비밀번호">
    <button type="submit">로그인</button>
</form>-->
<div class="login-body">
    <div class="login-wrap">
        <div class="login-logo">
        </div>
        <div id="login-form"  class="login-form-box" style="text-align:center;">
            <img src="/lib/img/login/img_txt_login.gif" alt="login/sign in" />
            <form id="loginForm" method="post" name="loginForm" action="/login/login-processing" target="_top">
                <fieldset style="border: 0px;">
                    <div class="username logForm"><label for="username">username</label><input type="text" id="username" title="ID" value='' /></div>
                    <div class="password logForm"><label for="password">password</label><input type="password" id="password" title="PW" value=''/></div>
                    <div class="checkforms">
                        <span class="idcheck"><input type="checkbox" id="login-idSave"><label for="login-idSave">아이디 저장</label></span>
                    </div>
                    <button id="login" name="login" title="Login" class="submit" ><span>Login</span></button>
                    <button id="Join" name="Join" title="Join" class="submin-disabled" ><span>Join</span></button>
                </fieldset>
            </form>
        </div>

    </div>
</div>
</body>
</html>